<body>
  <div class="curriculum-container">
    <h2>Áreas Curriculums recibidos</h2>
    <div class="area-grid">
      <div class="area-box" (click)="goTocv()">Área</div>
      <div class="area-box">Área</div>
      <div class="area-box">Área</div>
      <div class="area-box">Área</div>
      <div class="area-box">Área</div>
      <div class="area-box">Área</div>
      <div class="area-box">Área</div>
      <div class="area-box">Área</div>
      <div class="area-box">Área</div>
      <div class="area-box">Área</div>
      <div class="area-box">Área</div>
    </div>
  </div>
</body>
