<body>
  <div class="job-proposal-template">
    <div class="info-section">
      <h2>Información del puesto</h2>
      <div class="info-box"></div>
    </div>
    <div class="content-section">
      <div class="image-section">
        <h2>Imagen de referencia</h2>
        <div class="image-box"></div>
      </div>
      <div class="action-buttons">
        <button (click)="goToPostular()" class="btn enviar-cv">Postular</button>
        <button (click)="goToMenuUser()" class="btn continuar-buscando">Seguir buscando</button>
      </div>
    </div>
  </div>
</body>
